<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div ng-controller="credenciaisController">

    <h1>MODAL</h1>
    <h2>Credenciais:</h2>
    <h2>{{mensagemCredenciais}}</h2>
    <button ng-click="getServico()">Seta</button>
    <button ng-click="">Printa</button>

    <button type="button" class="btn btn-primary" 
        ng-click="erroService.ERRO_MSG ='ERRO OPA'; erroService.ERRO_NRO =404">
        Launch demo modal
    </button>
</div>

